In [5]:
from mcda.core.matrices import *
from mcda.core.relations import *
from mcda.core.scales import *
from mcda.outranking.electre import *

In [6]:
alternatives = [
    "Peugeot 505 GR",
    "Opel Record 2000 LS",
    "Citroen Visa Super E",
    "VW Golf 1300 GLS",
    "Citroen CX 2400 Pallas",
    "Renault Scenic"
]
scales = {
    0: QuantitativeScale(7, 10),
    1: QuantitativeScale(7, 10),
    2: QuantitativeScale(5, 9),
    3: QuantitativeScale(6, 9),
}
dataset = PerformanceTable(
    [
        [8.84, 8.79, 6.43, 6.95],
        [8.57, 8.51, 5.47, 6.91],
        [7.76, 7.75, 5.34, 8.76],
        [7.97, 9.12, 5.93, 8.09],
        [9.03, 8.97, 8.19, 8.10],
        [7.41, 7.87, 6.77, 7.23],
    ], 
    alternatives=alternatives, scales=scales
)
W = {0: 9.00, 1: 8.24, 2: 5.98, 3: 8.48}
P = {0: 0.50, 1: 0.50, 2: 0.50, 3: 0.50}
I = {0: 0.30, 1: 0.30, 2: 0.30, 3: 0.30}
V = {0: 0.70, 1: 0.70, 2: 0.70, 3: 0.70}

electre3 = Electre3(dataset, W, I, P, V)

In [7]:
electre3.concordance().data

,Peugeot 505 GR,Opel Record 2000 LS,Citroen Visa Super E,VW Golf 1300 GLS,Citroen CX 2400 Pallas,Renault Scenic
Peugeot 505 GR,1.000000,1.000000,0.732492,0.693502,0.543849,0.962271
Opel Record 2000 LS,0.811356,1.000000,0.732492,0.321640,0.108770,0.784606
Citroen Visa Super E,0.267508,0.456151,1.000000,0.551420,0.267508,0.811356
VW Golf 1300 GLS,0.527445,0.716088,0.732492,1.000000,0.527445,0.811356
Citroen CX 2400 Pallas,1.000000,1.000000,0.732492,1.000000,1.000000,1.000000
Renault Scenic,0.456151,0.456151,0.661514,0.188644,0.000000,1.000000

In [8]:
credibility = electre3.construct()
credibility.data

c:\Users\user\AppData\Local\pypoetry\Cache\virtualenvs\mcdalp-Yv4LV9k_-py3.11\Lib\site-packages\mcda\core\matrices.py:578: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  self.data = self.data.applymap(
c:\Users\user\AppData\Local\pypoetry\Cache\virtualenvs\mcdalp-Yv4LV9k_-py3.11\Lib\site-packages\mcda\core\matrices.py:590: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  Series(self.data.applymap(lambda s: s[c]).values.flatten())

,Peugeot 505 GR,Opel Record 2000 LS,Citroen Visa Super E,VW Golf 1300 GLS,Citroen CX 2400 Pallas,Renault Scenic
Peugeot 505 GR,1.0,1.000000,0.000000,0.0,0.0,0.962271
Opel Record 2000 LS,0.0,1.000000,0.000000,0.0,0.0,0.000000
Citroen Visa Super E,0.0,0.000000,1.000000,0.0,0.0,0.000000
VW Golf 1300 GLS,0.0,0.716088,0.410731,1.0,0.0,0.000000
Citroen CX 2400 Pallas,1.0,1.000000,0.547642,1.0,1.0,1.000000
Renault Scenic,0.0,0.000000,0.000000,0.0,0.0,1.000000

In [9]:
ranking = electre3.exploit(credibility)